<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="The100AutoMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="${LOCALAPPDATA}\The100AutoMod\Logs\%date{yyyy-MM-dd}\%date{HH.mm.ss.fff}.log" />
      </file>
      <PreserveLogFileNameExtension value="true" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50GB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  <userSettings>
    <The100AutoMod.Properties.Settings>
      <setting name="The100AutoModFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="The100AutoModFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="The100AutoModFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="The100Username" serializeAs="String">
        <value />
      </setting>
      <setting name="The100Password" serializeAs="String">
        <value />
      </setting>
    </The100AutoMod.Properties.Settings>
  </userSettings>
</configuration>